*, body, html, a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #222; }

body, html {
  background-color: #f5f1e2; }
  body section, html section {
    padding: 10px 5%; }
  body li, html li {
    list-style-type: none; }

.center, section#blog article, section#disc article, nav.landing span, section#portfolio article, footer#shoes article {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center; }

section#about {
  padding-top: 220px;
  background-color: #222; }
  section#about article h1, section#about article h2, section#about article h3, section#about article h4, section#about article h5, section#about article p, section#about article em, section#about article span, section#about article figcaption {
    color: #f5f1e2; }

section#disc {
  background-color: #222; }
  section#disc article h1, section#disc article h2, section#disc article h3, section#disc article p, section#disc article em {
    color: #f5f1e2; }

nav.landing {
  background: url("../resources/banner.jpg");
  background-position: 0 -80px;
  position: fixed;
  top: 0;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
  nav.landing h2 {
    letter-spacing: 5px;
    font-weight: 200;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    color: #f5f1e2;
    background-color: #82b440 !important; }
  nav.landing span {
    margin-top: 10px; }
    nav.landing span .bg-drop {
      background-color: #5E2D79; }
    nav.landing span a {
      color: #f5f1e2;
      padding: 10px; }
    nav.landing span a:hover {
      border: 5px solid #5E2D79 !important; }

section#portfolio article .portfolio-img {
  width: 20%;
  min-width: 100px;
  height: auto;
  border-radius: 20px;
  margin: 5px; }

section#portfolio article .img-group {
  width: 100%;
  text-align: center;
  margin: 0 auto; }

section#volleyball {
  background-color: #5E2D79;
  text-align: right; }
  section#volleyball article em,
  section#volleyball article h1,
  section#volleyball article h2,
  section#volleyball article h3,
  section#volleyball article p,
  section#volleyball article figcaption,
  section#volleyball article span {
    color: #f5f1e2 !important; }
  section#volleyball article figure {
    float: left;
    margin: 3em 20px;
    width: 720px;
    max-width: 100%;
    height: 420px; }
  section#volleyball article main figure:nth-child(2n) {
    float: right;
    margin: 3em 20px;
    width: 720px;
    height: 420px; }
  section#volleyball article figure img {
    width: auto;
    left: 30%;
    margin: 0 auto;
    text-align: center;
    height: 420px;
    margin-left: 30%; }
  section#volleyball article figcaption {
    text-align: center;
    font-size: 0.7em;
    font-style: italic; }
  section#volleyball article iframe {
    height: 100%;
    width: 100%; }
  section#volleyball article object {
    width: 100%;
    height: 100%; }

footer#shoes {
  background-color: #82b440; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

*, body {
  font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif; }
